<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Library</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">MyBook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/borrows">Borrows</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
           <div class="col-8 offset-2 mt-4">
               <form method="post" action="/login">
                    <div class="form-group">
                        <label>Employee Name</label>
                        <input type="text" name="emplName" class="form-control" placeholder="Enter Your Name">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="emplPassword" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {{#if error}}
                <div class="alert alert-danger mt-2">
                    {{error}}
                </div>
                {{/if}}
           </div>
        </div>
    </div>
</body>
</html>